
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;

    color: #333;
}

h1{
    color: rgb(231, 81, 11);
    text-align: center;
}

p{
    color: rgb(0, 0, 255);
    text-align: center;
    font-size: 50px;
}